.questions-container {
  font-size: 15px;
}

.table-bordered {
  width: 100%;
  border-collapse: collapse;
}

thead td {
  border: 2px solid rgb(216, 216, 216);
}

thead {
  font-size: 17px;
}

.question-card {
  /* height: 180px; */
  width: 100%;
  line-height: 1.5;
}

.question-card:nth-child(odd) {
  background-color: rgb(216, 216, 216);
}

.question-card td {
  border: 2px solid lightgray;
}

.questions-title {
    text-align: center;
}

.q-container {
    padding: 2rem;
}

.col-category {
   width: 10%;  
}

.col-title {
  width: 15%;
}

.col-text {
  width: 35%;  /* wider since it has more content */
  white-space: normal; /* allow wrapping */
}

.col-choices {
  width: 40%;  /* also wider */
  white-space: normal;
}

.question-text, .question-choices {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}
.question-text, 
.question-choices, 
.question-category, 
.question-title {
  padding-left: 10px; 
  padding-right: 10px;
  /* padding-top: 3px;
  padding-bottom: 2px; */
}


