.filters-container {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 2rem;
  justify-content:center;
  align-items: center;
}

.filters-dropdown{
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.filters-search-box {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 400px; 
}

.search-btn {
  background-color: #FF7A30;  
  color: white;
  border: none;
  border-radius: 6px;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: opacity 0.3s ease, background-color 0.3s ease;
  display: block;
  margin: 1rem auto; 
}

.search-btn:hover {
  opacity: 0.8;
  background-color: #e8651d; 
}
