@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');
/* font-family: Oswald, Helvetica, sans-serif; - for the titles */
/* font-family: Montserrat, Helvetica, sans-serif; */
* {
  /* font-family: 'Jost', sans-serif; */
  /* font-family: Montserrat, Helvetica, sans-serif; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}